body { font-family: Helvetica Neue, sans-serif; margin: 60px auto; width: 70%; color: #333; overflow: auto; }

a { text-decoration: none; color: #333; border-bottom: 3px solid #ff017e; }
a:hover { color: #ff017e; }
.pinklink:hover { color: #333; }

/* Paragraphs */
p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

p.font-hairline { font-weight: 100; }
p.font-thin { font-weight: 500; }

h1, h2, h3, h4, h5, h6 { font-family: Helvetica Neue, sans-serif; }
h1 { font-size: 3em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.9em; }
h5 { font-size: 1.4em; }
h6 { font-size: 0.9em; }

nav ul, footer ul { text-decoration: none; font-size: 1em; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { text-decoration: none; border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.2em; color: #ff017e; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: Helvetica Neue, sans-serif; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

/* Image */
img { vertical-align: middle }
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;}
.img-rounded { border-radius: 6px;}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle { border-radius: 50% }
