body { 
	font-family: 'Poppins', sans-serif !important;
	font-size: 1.1em; 
    	color: #212529;
} 

h1, h2, h3, h4, h5, h6, .alpha, .beta, header, footer, .lead, .text-fine { 
	font-family: 'Poppins', sans-serif !important; 
	color: #212529
}


