/* Additional fixes for divs */
.fix-1-12{max-width:80px!important}
.fix-2-12{max-width:180px!important}
.fix-3-12{max-width:280px!important}
.fix-4-12 {
    max-width:380px!important; 
    margin:0 auto;
}
.fix-5-12{max-width:480px!important}
.fix-6-12{max-width:580px!important}
.fix-7-12 {
    max-width:666px!important;
    margin: 0 auto;
}
.fix-8-12{max-width:780px!important}
.fix-9-12{max-width:880px!important}
.fix-10-12{max-width:980px!important}
.fix-11-12{max-width:1080px!important}
.fix-12-12{max-width:1180px!important}

.toLeft{margin-left:0!important}
.toCenter,.toRight{margin-left:auto!important}
.toRight{margin-right:0!important;float:right}
.toCenter{margin-right:auto!important}
