---
layout: carou
title: Categories & Tags
description: All the categories and tags used in the blog.
tagline: Let's see what else we've got on that..
permalink: /categories/
---
<main>
<section class="py-0">      
<div class="whole-topless">  
<div class="container">
  
<h1 class="mb-5 text-center">Tag Clouds</h1>
  
<!-- Not used, good.
<ul class="tag-cloud">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul> --> 

<p>
  {% for tag in site.tags %}
  <a href="#{{ tag[0]}}"
    style="font-size: {{ tag[1] | size | times: 39 | divided_by: site.tags.size | plus: 21 }}px" class="tag-cloud">
    {{ tag[0] }} |
  </a>
  {% endfor %}
  </p>

    </div>  

<div class="whole">
  
<h1>Categories</h1>
  
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    
    <p>
    <ul>
    <h4 class="category-head">{{ category_name }}</h4>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </article>
    {% endfor %}
    </ul>
    </p>
  
  </div>
{% endfor %}
</div>
        
</div>
    
<div class="whole">
  
<h1>Tags</h1>        

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    
    
    <p>
    <ul>
    <h4 class="tag-head">{{ tag_name }}</h4>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <li><a href="{{ post.url | prepend: site.url }}">{{post.title}}</a></li>
    </article>
    {% endfor %}
    </p>
  </ul>
  </div>
  
{% endfor %}
</div>
  
  
</div>
</section>        
    </main>
