---
layout: carou
title: Categories & Tags
description: All the categories and tags used in the blog.
tagline: Let's see what else we've got on that..
permalink: /search/
---
<main>
      <section class="py-5">      
            <div class="container"> 
            
<h1 class="mb-5 text-center">Search</h1>

{% include search.html %}  

</div>
      
<div class="container">

<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Tag Clouds</h1>
<p>
  {% for tag in site.tags %}
  <a href="#{{ tag[0]}}"
    style="font-size: {{ tag[1] | size | times: 39 | divided_by: site.tags.size | plus: 21 }}px" class="tag-cloud">
    {{ tag[0] }} |
  </a>
  {% endfor %}
  </p>

</div>  
  
<div class="container">
<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Categories</h1>
  
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    
    <p>
    <ul>
    <h4 class="category-head">{{ category_name }}</h4>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </article>
    {% endfor %}
    </ul>
    </p>
  
  </div>
{% endfor %}
</div>
        
</div>
      
<div class="container">
<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Tags</h1>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    
    
    <p>
    <ul>
    <h4 class="tag-head">{{ tag_name }}</h4>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <li><a href="{{ post.url | prepend: site.url }}">{{post.title}}</a></li>
    </article>
    {% endfor %}
    </p>
  </ul>
  </div>
  
{% endfor %}
</div>
  
  
            </div>
      </section>
</main>
