---
layout: course
title: Filed under mentoring
description: Everything about mentoring, like what it's about, what's involved, why it's a good idea and when mentoring isn't needed. Just everything about mentoring, really. 
tagline: Some mentoring 
permalink: /categories/mentoring
tag_name: beginners
---
<!-- Categories page meta -->
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
        <div class="row justify-content-center">
		<div class="col-md-9 col-lg-7 col-xl-6 mb-8 mb-md-15 text-center">
                <!-- Name of category -->
		<p class="fs-1 mb-5 aos-init aos-animate">
			{{ page.tag_name }}
		</p>
		<h2 class="display-5 mb-6" data-aos="fade-down" data-aos-delay="250">
			{{ page.tagline }}
		</h2>
		<p class="fs-2 text-start" data-aos="fade-down" data-aos-delay="500">
			{{ page.description}}
		</p>
		</div>
	<div>
	</div>
</section>
<!-- Posts with the tag -->
<section class="py-10 py-lg-20 bg-bg-3">
        <div class="row justify-content-center pb-15">
	{% for post in site.tags[page.tag_name] %}
        <div class="col-lg-10 col-xl-8 col-xxl-7 justify-content-center d-flex">
            <ul class="posts ms-0 ps-0 " style="columns:2;">
                <li>
		<img src="https://i.postimg.cc/7ZNT4mxy/dna-1.png" srcset="https://i.postimg.cc/YSqLCY9L/dna-2.png 2x" alt="" class="img-fluid w-50 mb-8" data-aos="fade-down" data-aos-delay="0">
		<p>{{ post.title }}</p>
		<p>{{ post.date | date_to_string }}</p>	
		<p class="fs-3 text-dark-3">{{ post.lead }}</p>
                </li>
            </ul>
            </div>
	{% endfor %}
        </div>
</section>	
<!-- 	Tag clouds -->	
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
		<h2 class="text-center text-dark-1">Tag Clouds</h2>	
		<p>
  		{% for tag in site.tags %}
 			<a href="#{{ tag[0]}}"
    			style="font-size: {{ tag[1] | size | times: 39 | divided_by: site.tags.size | plus: 21 }}px" class="text-action-4 tag-cloud">
    			{{ tag[0] }} |
  			</a>
  		{% endfor %}
  		</p>
	</div>
	
	<div class="container">
	<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{page.tag_name}}</h2> 
	<ul>
    	{% for post in site.tags[page.tag_name] %}
   	<div>
		<li>
		<a href="{{ post.url | prepend: site.url }}">{{post.title}}</a>
		<p class="mt-2 text-muted"><span class="alpha color-star-dust">{{ post.date | date_to_string }}</span> » {{ post.lead }}</p>	 
		</li>
    	</div>
	{% endfor %}
	</ul> 
	</div>
</section>
