---
layout: course
title: Filed under Tips
description: Content related to receiving and giving tips, developing a tipping jar, applications of tipping in supporting freelance work, and tips as they related to tips & tricks.  
tagline: Free tipping advice
permalink: /categories/tips
tag_name: tips
---
<!-- Categories page meta -->
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
        <div class="row justify-content-center">
		<div class="col-md-9 col-lg-7 col-xl-6 mb-8 mb-md-15 text-center">
                <!-- Name of category -->
		<p class="fs-1 mb-5 text-capitalize">
			{{ page.tag_name }}
		</p>
		<h2 class="display-5 mb-6" data-aos="fade-down" data-aos-delay="250">
			{{ page.tagline }}
		</h2>
		<p class="fs-2 text-start" data-aos="fade-down" data-aos-delay="500">
			{{ page.description}}
		</p>
		</div>
	<div>
	</div>
</section>	
<!-- Bare minimum showcasing post with tag -->
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
	<div class="row justify-content-center">
	{% for post in site.categories[page.tag_name] %}
		<div class="border border-2 border-action-1 mx-4 py-0 px-8 mb-10 mb-md-15 mb-lg-20 col-sm-8 col-md-6 col-lg-4 justify-content-between" data-aos="fade-down" data-aos-delay="0">
			<div>
				<a href="{{ post.url }}" class="mb-4 d-block"><img src="i/blog-3-1.jpg" srcset="i/blog-3-1@2x.jpg 2x" alt="" class="img-fluid"></a>
				<p class="text-capitalize">{{ post.main-categories }}</p>
				<h3><a href="{{ post.url }}" title="{{ post.title }}" class="mb-4 font-heading text-dark-1 fs-3">{{ post.title }}</a></h3>
			</div>
			<div>
				<p>{{ post.date | date_to_string }}</p>
				<p class="d-none d-lg-block">{{ post.lead }}</p>
				<p><a class="text-action-1 text-decoration-underline" href="{{ post.url }}">Read more</a></p>
				<!--div class="border-bottom border-dark-1 opacity-20"></div-->
			</div>
		</div>
	{% endfor %}
	{% assign filtered_posts = site.werdz | where: 'categories', page.tag_name %}
  		{% for post in filtered_posts %}
			<div class="border border-2 border-action-1 mx-4 py-0 px-8 mb-10 mb-md-15 mb-lg-20 col-sm-8 col-md-6 col-lg-4 justify-content-between" data-aos="fade-down" data-aos-delay="0">
			<div>
				<a href="{{ post.url }}" class="mb-4 d-block"><img src="i/blog-3-1.jpg" srcset="i/blog-3-1@2x.jpg 2x" alt="" class="img-fluid"></a>
				<p class="text-capitalize">{{ post.main-categories }}</p>
				<h3><a href="{{ post.url }}" title="{{ post.title }}" class="mb-4 font-heading text-dark-1 fs-3">{{ post.title }}</a></h3>
			</div>
			<div>
				<p>{{ post.date | date_to_string }}</p>
				<p class="d-none d-lg-block">{{ post.lead }}</p>
				<p><a class="text-action-1 text-decoration-underline" href="{{ post.url }}">Read more</a></p>
				<!--div class="border-bottom border-dark-1 opacity-20"></div-->
			</div>
		</div>
	 {% endfor %}
	</div>
	</div>
</section>
