<!-- Cookie Consent from Cookie Info Script Cart -->

<script type="text/javascript" id="cookieinfo"
	src="cookieinfoscript.com/js/cookieinfo.min.js"
	data-font-size="13px"
	data-font-family="Roboto, sans-serif"
	data-text-align="left"
	data-height="50px"
	data-link="#F67000"
	data-divlink="#333333"
	data-divlinkbg="F67000"
	data-fg="#6C757D"
	data-position="bottom"
	data-message="Fingertip-Top uses cookies. We make them  too. By clicking, you accept our revised Privacy Policy and Terms of Service."
	data-linkmsg="Learn more."
	data-moreinfo="https://fingertip.top/terms/policies"
	data-cookie="we-love-cookies"
	data-expires="Fri, 31 Dec 9999 23:59:59 GMT"
	data-mask="true"
	data-mask-opacity="0.3"
	data-mask-background="999"
	data-cookie="CookieInfoScript"
  data-close-text="I'll Allow It!">
</script>
