<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Lovelli Fuad">
	<meta name="viewport" width="device-width, initial-scale=1.0, shrink-to-fit=no">
	
	<link rel="icon" href="assets/rosicon.jpg" type="image/jpg">
	<link rel="canonical" href="{{ page.url | prepend: site.url }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	
	<title>
	{%if page.title %}
       		{{ page.title }}
   	{% else %}
       		{{ site.title }}
   	{% endif %}
	</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
			
	{% include analytics.html %}
</head>
