<!-- The Original -->
<!--div class="container">
<figure class="figure-img img-fluid rounded mb-4">
<img src="{{ site.baseurl }}/assets/image/{{ include.image }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: 'image representing a theme in this article' }}" />
<p class="alpha">{{ page.featured-image-description }}</p>  
</figure></div -->

<!-- Modified with S6 reference -->
<!--div class="container banner" alt="{{ include.alt | default: 'image representing a theme in this article' }}" style="background-image: url(/assets/image/{{ include.image }});height:auto; width:100%;"></div>
<figcaption class="figure-caption">{{ page.featured-image-description }}</figcaption-->

<!-- Current selection 
      Insta ok / Gif ok / -->
<div class="fix-10-12 toCenter">
<fig class="figure-img">
<img src="/assets/image/{{ include.image }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: 'image representing a theme in this article' }}" /></fig>
<p><figcaption class="figure-caption">{{ page.featured-image-description }}</figcaption></p></div>


