<!--div class="container">
<figure class="figure-img img-fluid rounded mb-4">
<img src="{{ site.baseurl }}/assets/image/{{ include.image }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: 'image representing a theme in this article' }}" />
<p class="alpha">{{ page.featured-image-description }}</p>  
</figure></div -->

<div class="container banner" alt="{{ include.alt | default: 'image representing a theme in this article' }}" style="background-image: url(/assets/image/{{ include.image }});height:auto; width:100%;"></div>
<div class="container pt-0><p class="alpha">{{ page.featured-image-description }}</p></div>
