<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">			
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="author" content="Lovelli Fuad">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="msvalidate.01" content="4DA12F9AE94F96D1C66B5EF1AC9C0254" />
			<meta name="yandex-verification" content="fcb97232824ea615" />
			
			<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	
			<!-- Open Graph for Facebook -->
	
			<meta property="og:locale" content="en_US">
			<meta property="og:type" content="article">
			<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
			<meta property="og:url" content="{{ site.url }}{{ page.url }}">
			<meta property="og:image" content="{{ site.url }}/assets/image/{{ page.featured-image }}" />
			<meta property="og:site_name" content="Finger Tip-top">
			<meta property="article:publisher" content="http://www.facebook.com/lovelli.fuad" />
			<meta property="article:author" content="https://www.facebook.com/lovelli.fuad" />
			<meta property="article:published_time" content="{{ page.date }}" />
			<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	
			<!-- Twitter Cards -->
	
			<meta name="twitter:card" content="summary_large_image"/>
			<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
			<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
			<meta name="twitter:site" content="@lovellifuad" />
			<meta name="twitter:creator" content="@lovellifuad">
			<meta name="twitter:card" content="summary">		
			
			<link rel="canonical" href="{{ page.url | prepend: site.url }}">
			<link rel="icon" href="assets/rosicon.jpg" type="image/jpg">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	
			<title>
				{%if page.title %}
       					{{ page.title }}
   				{% else %}
       					{{ site.title }}
   				{% endif %}
			</title>
	
			<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/bootstrap.css">
			<link rel="stylesheet" href="/css/main.css">
			
			{% include analytics.html %}
			
			{% include adsense.html %}
			
			<script async src="https://buttons.github.io/buttons.js"></script>
			<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
			<script async src="https://cdn.ampproject.org/v0.js"></script>
			
			{% include cookie-consent.html %}
		
		</head>
		<body>
			<div class="main-container">
				<header>
    <div class="container-fluid">
                
      <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand d-lg-none" href="#">Fingertip-top</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-02"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navigations-02">
          <div class="row w-100">
            <div class="col-4 pl-lg-0">
              <ul class="navbar-nav"><li class="nav-item"><a class="nav-link active" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
              </ul></div>
            <div class="col-4 navbar-nav text-center pr-0 d-none d-lg-block"><a class="navbar-brand mr-0" href="#">Fingertip-top</a></div>
            <div class="col-4 pr-lg-0">
              <ul class="navbar-nav justify-content-end"><li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Stuff</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
              </ul></div>
          </div>
        </div>
      </nav>
				</header>
			</div>	
			<hr>
			<hr class="color-two">
			<hr class="color-three">
			<hr class="color-four">
					
			<div class="container">
			
			{{ content }}
		
			</div><!-- /.container -->		
  <div class="container-fluid color-black">
                
      <footer class="py-3"><div class="container">
          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row pb-2">
            <h5 class="ml-0 ml-md-3 mb-4"><a href="#" class="pink">Fingertip-Top</a></h5>
            <ul class="nav justify-content-center foot">
	      <li class="nav-item"><a class="nav-link bottom" href="#">FAQs</a></li>
	      <li class="nav-item"><a class="nav-link bottom" href="#">Glossary</a></li>
	      <li class="nav-item"><a class="nav-link bottom" href="#">Subscriptions</a></li>
              <li class="nav-item"><a class="nav-link fiverr" href="#">Fiverr</a></li>
              <li class="nav-item"><a class="nav-link bottom" href="#">Courses</a></li>
            </ul>
	      </div>
	    <div class="d-flex justify-content-between align-items-right flex-column flex-md-row border-bottom pb-2">
	     <h5 class="ml-0 ml-md-3 mb-0"><a href="#" class="pink">            </a></h5>    
	     <ul class="nav justify-content-center foot">
	      <li class="nav-item"><a class="nav-link bottom" href="#">Style Guide</a></li>
	      <li class="nav-item"><a class="nav-link bottom" href="#">Community Guidelines</a></li>
	      <li class="nav-item"><a class="nav-link bottom" href="#">Contribute</a></li>
	    </ul>
	    </div>
          <div class="d-flex justify-content-center align-items-center justify-content-md-between flex-column flex-md-row mx-3 mt-3">
            <div class="d-flex"><a href="#"><img class="mr-3" src="/assets/iconmonstr-twitter-1-16.png" alt="${list_field2}"></a><a href="#"><img class="mr-3" src="/assets/iconmonstr-facebook-1-16.png" alt="${list_field2}"></a><a href="#"><img class="mr-3" src="/assets/iconmonstr-instagram-11-16.png" alt="${list_field2}"></a></div>
            <div class="d-flex mt-3 mt-md-0 text-fine">
              <p class="mb-0 colorful1">&copy;2018-2020 Lovelli</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
				
			{% include scripts.html %}
	
		</body>
	</html>
