---
layout: course
---
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
        <div class="row justify-content-center">
		<div class="col-md-9 col-lg-7 col-xl-6 mb-8 mb-md-15 text-center">
                <!-- Name of category -->
		<p class="fs-1 mb-5 aos-init aos-animate">
			{{ page.tag }}
		</p>
		<h2 class="display-5 mb-6" data-aos="fade-down" data-aos-delay="250">
			{{ page.tagline }}
		</h2>
		<p class="fs-2 text-start" data-aos="fade-down" data-aos-delay="500">
			{{ page.description}}
		</p>
		</div>
	<div>
	</div>
</section>
<section class="py-10 py-lg-20 bg-bg-3">
	<div class="container">
	{% for post in site.categories[page.tag] %}
		<p class="mb-2">{{ post.date | date_to_string }}</p>
		<a href="{{ post.url }}" title="{{ post.title }}" class="mb-4 mb-xl-10 font-heading text-dark-1 fs-3">{{ post.title }}</a>
		<p class="mb-8 fs-3">{{ post.lead }}</p>
		<div class="border-bottom border-dark-1 opacity-20"></div>
	</div>
	{% endfor %}
	</div>
</section>
