<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0, shrink-to-fit=no">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Lovelli Fuad">
	
			<link rel="icon" href="assets/rosicon.jpg" type="image/jpg">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	
			<title>{{ page.title }}</title>
	
			<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			{% include analytics.html %}
		</head>
		<body>
			<header>
				<nav><h6>
	    			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/books">Books</a></li>
			<!--	<li><a href="/translations">Translations</a></li> -->
			<!--	<li><a href="/writing">Writing</a></li> -->
			<!--	<li><a href="/style">Style</a></li> -->
	    			</ul>
				</h6></nav>
			</header>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lovelliariesti@gmail.com">email</a></li>
				<li><a href="https://fingertip.top/">37</a></li>
				<li><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a></li>
				</ul>
			</footer>
		</body>
	</html>
