<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<script async src="https://cdn.ampproject.org/v0.js"></script>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Lovelli Fuad">
			<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	
			<link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
			<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

			<link rel="icon" href="assets/rosicon.jpg" type="image/jpg">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	
			<title>{{ page.title }}</title>
	
			<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			{% include analytics.html %}
			
			{% include adsense.html %}
		</head>
		<body>
			<div class="main-container">
			<header>
				<nav>
	    			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/words">Words</a></li>
				<li><a href="/stuff">Stuff</a></li>
			<!--	<li><a href="/translations">Translations</a></li> -->
			<!--	<li><a href="/writing">Writing</a></li> -->
			<!--	<li><a href="/style">Style</a></li> -->
	    			</ul>
				</nav>
			</header>
			</div>	
			<hr>
			
			<div class="container">
			
			{{ content }}

			<hr>
			
			</div><!-- /.container -->
			<footer>
			{% include footer.html %}
			</footer>
		</body>
	</html>
