<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Lovelli Fuad">
			<meta name="viewport" width="device-width, initial-scale=1.0, shrink-to-fit=no">
	
			<link rel="icon" href="assets/rosicon.jpg" type="image/jpg">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	
			<title>{{ page.title }}</title>
	
			<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			{% include analytics.html %}
		</head>
		<body>
			<div class="main-container">
			<header>
				<nav>
	    			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/words">Words</a></li>
				<li><a href="/stuff">Stuff</a></li>
			<!--	<li><a href="/translations">Translations</a></li> -->
			<!--	<li><a href="/writing">Writing</a></li> -->
			<!--	<li><a href="/style">Style</a></li> -->
	    			</ul>
				</nav>
			</header>
			</div>	
			<hr class="style-two">
			
			<div class="container">
			
			{{ content }}

			<hr class="style-two">
				
			{% include footer.html %}
			
			</div><!-- /.container -->
			<!-- footer was here -->

		</body>
	</html>
