---
layout: course
---
<!-- Assign categories for the post -->
{% if post %}
    {% assign categories = post.main-categories %}
  {% else %}
    {% assign categories = page.main-categories %}
{% endif %}
<!-- Article -->
<article class="pb-8">
<!-- Title information and post meta -->
<section class="container mt-10 mb-8" style="background-color:aquamarine;">
    <div class="mb-10 mb-lg-20 py-20 align-items-end d-flex container" style="min-height: 50vh; background-image: url(&quot;&quot;);">
        <div class="container">
            <div class="row align-items-baseline mb-5 ps-xl-4 ps-lg-4 ps-md-4">
            <!-- Display the category -->
                <div class="col-auto">
                    {% for category in categories %}
			     <p class="fs-4 mb-0 text-dark-1 text-capitalize" data-aos="fade-down" data-aos-delay="0">{{ category }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
		<div class="col-12 mb-5 col-md-10 col-lg-9">
			<h2 class="display-3 ps-xl-16 px-lg-12 px-md-8 pt-8" data-aos="fade-down" data-aos-delay="75">{{ page.title }}</h2>
		</div>
			<p class="fs-5 text-xl-center text-xxl-center text-lg-center ps-md-8">
				<span class="text-dark-1" data-aos="fade-down" data-aos-delay="150">{{ page.date | date: '%B %-d, %Y' }}</span> /
			             {% for tag in page.tags %}
				            {% capture tag_name %}{{ tag }}{% endcapture %}
				<a href="/categories/{{ tag_name }}" class="text-dark-1" data-aos="fade-down" data-aos-delay="400">#{{ tag_name }}</a>
				     {% endfor %}
			</p>
            </div>
        </div>
    </div>
</section>
<!-- Content display -->
<section class="bg-bg-3 pb-8">
    <div class="container">
        <div class="row justify-content-center">
            {{ content }}
        </div>
    </div>
</section>
</article>
