---
layout: course
___
<!-- Assign categories for the post -->
{% if post %}
    {% assign categories = post.main-categories %}
  {% else %}
    {% assign categories = page.main-categories %}
{% endif %}
<!-- Article -->
<article class="pb-8">
<!-- Title information and post meta -->
<section class="container cart-background mt-10 mb-8" style="background-color:aquamarine;">
    <div class="mb-10 mb-lg-20 py-20 align-items-end d-flex container" style="min-height: 50vh; background-image: url(&quot;&quot;);">
        <div class="container">
            <div class="row align-items-baseline mb-5 ps-xl-4 ps-lg-4 ps-md-4">
            <!-- Display the category -->
                <div class="col-auto">
                    {% for category in categories %}
				    <p class="fw-bold fs-4 mb-0 text-dark-1" data-aos="fade-down" data-aos-delay="0">{{ category }}</p>
                    {% endfor %}
				</div>
            </div>
            <div class="row">
				<div class="col-12 mb-5 col-md-10 col-lg-9">
				    <h2 class="display-3 ps-xl-16 px-lg-12 px-md-8 pt-8" data-aos="fade-down" data-aos-delay="75">{{ page.title }}</h2>
				</div>
            </div>
            <div class="fw-bold justify-content-center col-lg-8 row col-md-8 col-sm-auto col-auto" data-aos="fade-down" data-aos-delay="75">
				<div class="col-auto">
				    <p class="mb-0 text-dark-2" data-aos="fade-down" data-aos-delay="0">{{ page.date | date: '%B %-d, %Y' }}</p>
				</div>
				<div class="col-auto">
				    <p class="text-dark-1 col-auto" data-aos="fade-down" data-aos-delay="0">
				        /
				    </p>
				</div>
				<div class="col-auto">
				    <div class="col-auto">
                        {% for tag in page.tags %}
                            {% capture tag_name %}#{{ tag | join:',' }}{% endcapture %}
                            <p class="text-dark-2 col-auto" data-aos="fade-down" data-aos-delay="0">{{ tag_name }}</p>
                        {% endfor %}
				    </div>
				</div>
            </div>
        </div>
    </div>
</section>
<!-- Content display -->
<section class="bg-bg-3 pb-8">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 col-xxl-7">
            {{ content }}
        </div>
        </div>
    </div>
</section>
</article>
