---
layout: words
---
<!-- Setup the main container for the post -->
<div class="container">
{% include adsense.html %} 
  
<!-- Assign categories for post --> 
{% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  
<!-- Title information area -->
<div class="fix-7-12 pt-5">
 {% for category in categories %}
 <p class="alpha">{{ category }}</p>                        
 {% endfor %}
<div class="fix-6-12 toLeft">              
  <h1 class="font-weight-light text-lg-left mt-2 mb-0">{{ page.title }}</h1></div>
<div class="fix-7x-12 toLeft">                                                     
  <p class="mt-2 w3-large">{{ page.description }}</p></div>                                                       
</div>
                 
<!-- span class="alpha">{{ page.date | date: "%A, %B %-d, %Y" }}</span><span class="beta">
  {% for tag in page.tags %}
    {% capture tag_name %}#{{ tag | join:',' }}{% endcapture %}
    <a href="/categories/{{ tag_name }}" class="tag-3"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code></a>
  {% endfor %}
</span>
<hr class="mt-2 mb-0">    
<div class="mt-0 mb-5"> 
{% for updated in page.updated %}
  {% capture updated_name %}{{ updated }}{% endcapture %}
  <span class="alpha">Updated on {{ page.updated | date: '%B %-d, %Y — %H:%M' }} by </span><a href="/categories/#" class="neutral"><span class="beta"><code class="highlighter-rouge"><nobr>{{ page.updated-by }}</nobr></code></span></a>
{% endfor %}
</div></div-->

<!-- call the featured-post-image.html template file -->
<section class="py-0">
{% if page.featured-image %}{% include testpost-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
</section>
  
<!-- Meta author, meta date -->

<div class="fix-7x-12 toCenter row">
  <div class="col-6 text-left">
  {% for updated in page.updated %}
  {% capture updated_name %}{{ updated }}{% endcapture %}
  <p class="text-left">Updated by <a href="/categories/#" class="neutral"><span class="beta"><code class="highlighter-rouge"><nobr>{{ page.updated-by }}</nobr></code></span></a>
  <br><span class="alpha mt-3">{{ page.updated | date: '%B %-d, %Y — %H:%M' }}</span></p> 
  {% endfor %}</div> 
<div class="col-6 text-right d-flex justify-content-end"><p class="pb-2 d-flex align-self-end"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 60px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.d0f13be8321eb432fba28cfc1c3351b1.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Ffingertip.top%2Fpost-words-test-post&amp;size=m&amp;text=Just%20an%20Idea%20I%20Had%20While%20Working%20on%20This%20Post&amp;time=1585150663431&amp;type=share&amp;url=https%3A%2F%2Ffingertip.top%2Fpost-words-test-post"></iframe><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></div>
</div>
  
<section class="pb-5"><div class="container font-weight-light">
  {{ content }}
</div></section>

<!--div class="post-categories container">
<p class="pb-2"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<span class="alpha cate"><p><h5 class="cate">Categories:  </h5>&nbsp;{% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="myButton neutral">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}</p></span>
</div -->
  
<div class="container">
<div class="PageNavigation neutral">
<div class="row"><div class="col-6 text-left">
  {% if page.previous.url %}
    <a class="prev pink" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}</div>
  <div class="col-6 text-right">
  {% if page.next.url %}
    <a class="next pink" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}</div>
  </div></div></div>
  
<!-- <div class="relatedPosts">
<h4>You May Also Enjoy</h4>
{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}
  {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
      <div>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div> -->   

</div>
