---
layout: default
---

<div class="page">
  
{% include adsense.html %} 
  
<div class="content">  

<h1>{{ page.title }}</h1>
    
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag | sort | join:',' }}{% endcapture %}
    <a href="/categories/#{{ tag_name }}" class="tag-2"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code></a>
  {% endfor %}
]</span>
    
<p><span class="alpha">{{ page.date | date: "%A, %B %-d, %Y" }}</span></p>
    
<!-- call the featured-post-image.html template file -->
   {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}    

<article class="post-content">
  {{ content }}
</article>
    <p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
    <br>
   
<div class="post-categories">
  <span class="alpha">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="myButton neutral">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </span>
</div>
    
</div>
</div>
