---
layout: default
---
<div class="page">
  
  <div class="content">  

<h1>{{ page.title }}</h1>
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}" class="tag-1"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>
    <span class="alpha"><p class="date">{{ page.date | date_to_string }}</p></span>

<article class="post-content">
  {{ content }}
</article>
  
<div class="post-categories">
  <span class="alpha">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="myButton">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </span>
</div>
    
  </div>
    </div>

